In [1]:
# Import dependencies
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

from pprint import pprint

app = Flask(__name__)

In [2]:
#################################################
# Database Setup
#################################################

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///../db/developers.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Survey = Base.classes.survey

/Users/alexstanley/anaconda3/envs/python36/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [3]:
# find devtypes, languageworkedwith, databaseworkedwith, frameworkWorkededWith
s = [Survey.Respondent,
     Survey.DevType,
     Survey.LanguageWorkedWith,
     Survey.DatabaseWorkedWith,
     Survey.FrameworkWorkedWith
    ]

radarResults = db.session.query(*s).all()

In [4]:
# put results into pandas
df = pd.DataFrame(radarResults)
df.head()

,Respondent,DevType,LanguageWorkedWith,DatabaseWorkedWith,FrameworkWorkedWith
0,3047,Game or graphics developer,C;C++;C#;Java;Python;Swift;HTML;CSS,MySQL;SQLite,TensorFlow
1,2999,Data or business analyst;Educator or academic ...,C;C++;Java;SQL;Swift,SQLite;Oracle,
2,2943,Back-end developer;Database administrator;Desk...,C++;Java;JavaScript;HTML;CSS,MySQL;SQLite;Oracle,Spring
3,3203,Back-end developer,C++;Java;Python;SQL;Bash/Shell,Oracle,
4,3010,Mobile developer,C;C#;Java;Objective-C;Rust;Swift;TypeScript,,Xamarin

In [5]:
# explode the devtype column so there's only one devtype for each row
expdev_df = pd.DataFrame(df.DevType.str.split(';').tolist(), index=[df.Respondent, df.LanguageWorkedWith, df.DatabaseWorkedWith, df.FrameworkWorkedWith]).stack()

expdev_df = expdev_df.reset_index()

expdev_df = expdev_df.rename(columns={0:'DevType'})
expdev_df = expdev_df.drop(columns='level_4')

expdev_df.head()

,Respondent,LanguageWorkedWith,DatabaseWorkedWith,FrameworkWorkedWith,DevType
0,3047,C;C++;C#;Java;Python;Swift;HTML;CSS,MySQL;SQLite,TensorFlow,Game or graphics developer
1,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Data or business analyst
2,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Educator or academic researcher
3,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Engineering manager
4,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Mobile developer

In [6]:
expdev_df['LanguageList'] = expdev_df.LanguageWorkedWith.str.split(';')
expdev_df.head()

,Respondent,LanguageWorkedWith,DatabaseWorkedWith,FrameworkWorkedWith,DevType,LanguageList
0,3047,C;C++;C#;Java;Python;Swift;HTML;CSS,MySQL;SQLite,TensorFlow,Game or graphics developer,"[C, C++, C#, Java, Python, Swift, HTML, CSS]"
1,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Data or business analyst,"[C, C++, Java, SQL, Swift]"
2,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Educator or academic researcher,"[C, C++, Java, SQL, Swift]"
3,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Engineering manager,"[C, C++, Java, SQL, Swift]"
4,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Mobile developer,"[C, C++, Java, SQL, Swift]"

In [7]:
# hard code top 10 languages from stack ooverflow website
topLang = ['JavaScript', 'HTML', 'CSS', 'SQL', 'Java', 'Bash/Shell', 'Python', 'C#', 'PHP', 'C++']

In [8]:
# Test case for one language
# Check if language is in each entries list of known languagesLanguage List. If yes, return 1, otherwise, return 0
# expdev_df['Python'] = np.where(expdev_df.LanguageList.apply(lambda x: 'Python' in x), 1, 0)

In [9]:
expdev_df.head()

,Respondent,LanguageWorkedWith,DatabaseWorkedWith,FrameworkWorkedWith,DevType,LanguageList
0,3047,C;C++;C#;Java;Python;Swift;HTML;CSS,MySQL;SQLite,TensorFlow,Game or graphics developer,"[C, C++, C#, Java, Python, Swift, HTML, CSS]"
1,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Data or business analyst,"[C, C++, Java, SQL, Swift]"
2,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Educator or academic researcher,"[C, C++, Java, SQL, Swift]"
3,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Engineering manager,"[C, C++, Java, SQL, Swift]"
4,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Mobile developer,"[C, C++, Java, SQL, Swift]"

In [10]:
# Loop through each language and see if each respondent knows the language
for language in topLang:
    
    # dynamically create new column headers
    print('Checking for: ' + language + '...')        
    
    # Create new column to check if the respondent knows a language. If the languege is in the list of known languages, it gets 1, else it gets 0
    expdev_df[language] = np.where(expdev_df.LanguageList.apply(lambda x: language in x), 1, 0)
    
    print(f'{language} done!')

Checking for: JavaScript...
JavaScript done!
Checking for: HTML...
HTML done!
Checking for: CSS...
CSS done!
Checking for: SQL...
SQL done!
Checking for: Java...
Java done!
Checking for: Bash/Shell...
Bash/Shell done!
Checking for: Python...
Python done!
Checking for: C#...
C# done!
Checking for: PHP...
PHP done!
Checking for: C++...
C++ done!

In [11]:
expdev_df.head()

,Respondent,LanguageWorkedWith,DatabaseWorkedWith,FrameworkWorkedWith,DevType,LanguageList,JavaScript,HTML,CSS,SQL,Java,Bash/Shell,Python,C#,PHP,C++
0,3047,C;C++;C#;Java;Python;Swift;HTML;CSS,MySQL;SQLite,TensorFlow,Game or graphics developer,"[C, C++, C#, Java, Python, Swift, HTML, CSS]",0,1,1,0,1,0,1,1,0,1
1,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Data or business analyst,"[C, C++, Java, SQL, Swift]",0,0,0,1,1,0,0,0,0,1
2,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Educator or academic researcher,"[C, C++, Java, SQL, Swift]",0,0,0,1,1,0,0,0,0,1
3,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Engineering manager,"[C, C++, Java, SQL, Swift]",0,0,0,1,1,0,0,0,0,1
4,2999,C;C++;Java;SQL;Swift,SQLite;Oracle,,Mobile developer,"[C, C++, Java, SQL, Swift]",0,0,0,1,1,0,0,0,0,1

In [12]:
# Aggregation by mean gives a fraction of dev types who know each skill
langByDev = expdev_df.groupby('DevType').mean()
langByDev = langByDev.drop(index='', columns='Respondent')

# multiply all columns by 100 to make it a percntage
langByDev.loc[:] *= 100

# Round each percent to 2 decimals
langByDev = langByDev.round(decimals=2)

langByDev

,JavaScript,HTML,CSS,SQL,Java,Bash/Shell,Python,C#,PHP,C++
DevType,,,,,,,,,,
Back-end developer,64.91,62.19,59.54,56.08,40.99,36.80,32.82,32.73,30.70,20.74
"C-suite executive (CEO, CTO, etc.)",66.74,65.65,63.42,57.03,36.06,42.22,34.83,31.19,38.41,24.49
Data or business analyst,56.03,58.51,54.82,65.31,34.69,35.93,41.57,32.56,26.95,19.71
Data scientist or machine learning specialist,46.49,48.28,44.29,49.39,38.60,43.75,64.86,21.40,18.91,30.88
Database administrator,68.03,69.74,67.52,70.93,37.64,41.12,34.59,36.39,43.01,22.14
Designer,65.33,69.14,67.14,52.70,38.25,31.20,28.85,32.42,36.96,24.84
Desktop or enterprise applications developer,60.06,60.71,57.76,58.26,41.45,33.38,29.59,51.84,24.25,30.75
DevOps specialist,67.54,63.17,60.38,58.44,41.33,60.19,46.26,30.06,30.42,19.48
Educator or academic researcher,53.53,57.98,54.74,44.96,41.22,45.62,51.28,24.64,27.57,36.36
Embedded applications or devices developer,47.37,47.64,43.79,39.07,40.42,47.29,48.95,32.93,23.41,55.16
Engineering manager,64.12,61.15,58.26,55.25,42.01,45.55,38.58,31.09,28.04,24.20
Front-end developer,74.62,73.71,72.68,52.87,36.21,33.01,27.09,32.55,34.55,18.16
Full-stack developer,75.08,71.97,70.26,58.21,38.47,37.35,30.90,35.37,32.07,17.74
Game or graphics developer,56.44,59.24,56.59,39.53,45.52,34.14,38.45,44.03,30.93,44.61
Marketing or sales professional,62.75,67.91,65.15,51.60,31.55,31.91,30.93,26.47,43.85,20.59
Mobile developer,55.59,55.46,53.13,43.46,52.82,27.35,26.33,30.41,29.15,23.88
Product manager,66.64,66.36,63.46,58.69,37.16,40.99,35.01,33.27,35.29,21.85
QA or test developer,63.48,63.61,60.67,57.14,43.49,43.30,38.39,33.39,31.40,24.51
Student,49.68,56.42,52.83,39.56,46.72,30.24,42.25,24.96,27.54,34.57
System administrator,66.63,68.28,65.33,60.93,38.46,55.71,43.32,29.53,42.08,24.29

In [13]:
# Convert df to dict to serve as json. Orient by index to make it easily searchable by devtype
langByDev_dict = langByDev.to_dict(orient='index')

pprint(langByDev_dict)

{'Back-end developer': {'Bash/Shell': 36.8,
                        'C#': 32.73,
                        'C++': 20.74,
                        'CSS': 59.54,
                        'HTML': 62.19,
                        'Java': 40.99,
                        'JavaScript': 64.91,
                        'PHP': 30.7,
                        'Python': 32.82,
                        'SQL': 56.08},
 'C-suite executive (CEO, CTO, etc.)': {'Bash/Shell': 42.22,
                                        'C#': 31.19,
                                        'C++': 24.49,
                                        'CSS': 63.42,
                                        'HTML': 65.65,
                                        'Java': 36.06,
                                        'JavaScript': 66.74,
                                        'PHP': 38.41,
                                        'Python': 34.83,
                                        'SQL': 57.03},
 'Data or business analyst': {'Bash/Shell': 35.93,
                              'C#': 32.56,
                              'C++': 19.71,
                              'CSS': 54.82,
                              'HTML': 58.51,
                              'Java': 34.69,
                              'JavaScript': 56.03,
                              'PHP': 26.95,
                              'Python': 41.57,
                              'SQL': 65.31},
 'Data scientist or machine learning specialist': {'Bash/Shell': 43.75,
                                                   'C#': 21.4,
                                                   'C++': 30.88,
                                                   'CSS': 44.29,
                                                   'HTML': 48.28,
                                                   'Java': 38.6,
                                                   'JavaScript': 46.49,
                                                   'PHP': 18.91,
                                                   'Python': 64.86,
                                                   'SQL': 49.39},
 'Database administrator': {'Bash/Shell': 41.12,
                            'C#': 36.39,
                            'C++': 22.14,
                            'CSS': 67.52,
                            'HTML': 69.74,
                            'Java': 37.64,
                            'JavaScript': 68.03,
                            'PHP': 43.01,
                            'Python': 34.59,
                            'SQL': 70.93},
 'Designer': {'Bash/Shell': 31.2,
              'C#': 32.42,
              'C++': 24.84,
              'CSS': 67.14,
              'HTML': 69.14,
              'Java': 38.25,
              'JavaScript': 65.33,
              'PHP': 36.96,
              'Python': 28.85,
              'SQL': 52.7},
 'Desktop or enterprise applications developer': {'Bash/Shell': 33.38,
                                                  'C#': 51.84,
                                                  'C++': 30.75,
                                                  'CSS': 57.76,
                                                  'HTML': 60.71,
                                                  'Java': 41.45,
                                                  'JavaScript': 60.06,
                                                  'PHP': 24.25,
                                                  'Python': 29.59,
                                                  'SQL': 58.26},
 'DevOps specialist': {'Bash/Shell': 60.19,
                       'C#': 30.06,
                       'C++': 19.48,
                       'CSS': 60.38,
                       'HTML': 63.17,
                       'Java': 41.33,
                       'JavaScript': 67.54,
                       'PHP': 30.42,
                       'Python': 46.26,
                       'SQL': 58.44},
 'Educator or academic researcher': {'Bash/Shell': 45.62,
                                     'C#': 24.64,
                                     'C++': 36.36,
                                     'CSS': 54.74,
                                     'HTML': 57.98,
                                     'Java': 41.22,
                                     'JavaScript': 53.53,
                                     'PHP': 27.57,
                                     'Python': 51.28,
                                     'SQL': 44.96},
 'Embedded applications or devices developer': {'Bash/Shell': 47.29,
                                                'C#': 32.93,
                                                'C++': 55.16,
                                                'CSS': 43.79,
                                                'HTML': 47.64,
                                                'Java': 40.42,
                                                'JavaScript': 47.37,
                                                'PHP': 23.41,
                                                'Python': 48.95,
                                                'SQL': 39.07},
 'Engineering manager': {'Bash/Shell': 45.55,
                         'C#': 31.09,
                         'C++': 24.2,
                         'CSS': 58.26,
                         'HTML': 61.15,
                         'Java': 42.01,
                         'JavaScript': 64.12,
                         'PHP': 28.04,
                         'Python': 38.58,
                         'SQL': 55.25},
 'Front-end developer': {'Bash/Shell': 33.01,
                         'C#': 32.55,
                         'C++': 18.16,
                         'CSS': 72.68,
                         'HTML': 73.71,
                         'Java': 36.21,
                         'JavaScript': 74.62,
                         'PHP': 34.55,
                         'Python': 27.09,
                         'SQL': 52.87},
 'Full-stack developer': {'Bash/Shell': 37.35,
                          'C#': 35.37,
                          'C++': 17.74,
                          'CSS': 70.26,
                          'HTML': 71.97,
                          'Java': 38.47,
                          'JavaScript': 75.08,
                          'PHP': 32.07,
                          'Python': 30.9,
                          'SQL': 58.21},
 'Game or graphics developer': {'Bash/Shell': 34.14,
                                'C#': 44.03,
                                'C++': 44.61,
                                'CSS': 56.59,
                                'HTML': 59.24,
                                'Java': 45.52,
                                'JavaScript': 56.44,
                                'PHP': 30.93,
                                'Python': 38.45,
                                'SQL': 39.53},
 'Marketing or sales professional': {'Bash/Shell': 31.91,
                                     'C#': 26.47,
                                     'C++': 20.59,
                                     'CSS': 65.15,
                                     'HTML': 67.91,
                                     'Java': 31.55,
                                     'JavaScript': 62.75,
                                     'PHP': 43.85,
                                     'Python': 30.93,
                                     'SQL': 51.6},
 'Mobile developer': {'Bash/Shell': 27.35,
                      'C#': 30.41,
                      'C++': 23.88,
                      'CSS': 53.13,
                      'HTML': 55.46,
                      'Java': 52.82,
                      'JavaScript': 55.59,
                      'PHP': 29.15,
                      'Python': 26.33,
                      'SQL': 43.46},
 'Product manager': {'Bash/Shell': 40.99,
                     'C#': 33.27,
                     'C++': 21.85,
                     'CSS': 63.46,
                     'HTML': 66.36,
                     'Java': 37.16,
                     'JavaScript': 66.64,
                     'PHP': 35.29,
                     'Python': 35.01,
                     'SQL': 58.69},
 'QA or test developer': {'Bash/Shell': 43.3,
                          'C#': 33.39,
                          'C++': 24.51,
                          'CSS': 60.67,
                          'HTML': 63.61,
                          'Java': 43.49,
                          'JavaScript': 63.48,
                          'PHP': 31.4,
                          'Python': 38.39,
                          'SQL': 57.14},
 'Student': {'Bash/Shell': 30.24,
             'C#': 24.96,
             'C++': 34.57,
             'CSS': 52.83,
             'HTML': 56.42,
             'Java': 46.72,
             'JavaScript': 49.68,
             'PHP': 27.54,
             'Python': 42.25,
             'SQL': 39.56},
 'System administrator': {'Bash/Shell': 55.71,
                          'C#': 29.53,
                          'C++': 24.29,
                          'CSS': 65.33,
                          'HTML': 68.28,
                          'Java': 38.46,
                          'JavaScript': 66.63,
                          'PHP': 42.08,
                          'Python': 43.32,
                          'SQL': 60.93}}